.frameDiv,
.frameDiv1 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.frameDiv {
  background-color: #fff;
  height: 40px;
  flex-shrink: 0;
}
.frameDiv1 {
  flex: 1;
  background-color: #e4ff98;
}
.frameDiv2,
.menuAberto,
.menuRecolhido {
  align-self: stretch;
  flex-shrink: 0;
}
.frameDiv2 {
  position: relative;
  background-color: #99a3ff;
  height: 243px;
  overflow: hidden;
}
.SideBarDesktop{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  background-color: crimson;
  max-width: 200px;
  height: 100%;
}
.Blur{
  filter: blur(2px);
  position: absolute;
  width: 100%;
}
.Open{
  max-width: 200px;
}
.Close{
  min-width: 50px;
}
.menuAberto {
  transition-duration: 0.5s;
  width: 200px;  
}
.menuRecolhido {
  transition-duration: 0.5s;
  background-color: #3d41ff;
  width: 50px;
}
.btnHamburguerButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #faff00;
  position: absolute;
  top: 10px;
  left: 16px;
  width: 21px;
  height: 20px;
}
.corpoDiv,
.pnlTopDiv {
  align-self: stretch;
  position: relative;
}
.pnlTopDiv {
  background-color: #6f6f6f;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.corpoDiv {  
  flex: 1;
  background-color: #81ffa4;
  padding: 4px;
  gap:8px;
}
.bodyDiv,
.frmMasterDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bodyDiv {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  z-index: 1;
}
.frmMasterDiv {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

@media screen and (width <= 700px){
  .Open{
    z-index: 99999;
    max-width: 200px;
  }
  .Close{
    z-index: 99999;
    min-width: 0;
  }
  .menuRecolhido{
    min-height: 0;
    width: 0;
  }
  .bodyDiv{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .BodyDivSideBar{   
    z-index: 2;    
    opacity: 50%;
  }
}
.DivSideBar{
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 100%;
}
.BodyDivSideBar{
  display: flex;  
  height: 100%;
  background-color: gray;
}