.closeButton,
.xButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.xButton {
  flex: 1;
  align-self: stretch;
  position: relative;
  font-size: 8px;
  font-family: Quicksand;
  color: #000;
  text-align: center;
  justify-content: center;
}
.modalEmpresaDiv {
  position: relative;
  background-color: #a9fffa;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
