.closeButton,
.xButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.xButton {
  flex: 1;
  align-self: stretch;
  position: relative;
  font-size: 8px;
  font-family: Quicksand;
  color: #000;
  text-align: center;
  justify-content: center;
}
.closeButton {
  position: absolute;
  top: 0;
  left: 193px;
  width: 12px;
  height: 14px;
  flex-direction: row;
  justify-content: flex-end;
}
.modalEmpresaDiv {
  position: relative;
  background-color: #a9fffa;
  width: 206px;
  height: 181px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
